opencv-python-headless==4.5.5.64
dataclasses==0.6
ddddocr==1.4.3
docopt==0.6.2
Flask==2.0.3
flatbuffers==2.0
gevent==21.12.0
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
Pillow==8.4.0
protobuf==3.19.4
PyExecJS==1.5.1
requests==2.27.1
flask-cors==3.0.10
